<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
<meta charset="utf-8">
<title><%= texts["title"] %></title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
<link rel="stylesheet" href="/invite.css">
</head>

<body>

<div class="container">
  <div clas="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= texts["heading"] %></h1>
      <p><%= texts["description"] %></p>
    </div>

    <div class="form-wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <form action="#" role="form">
        <input type="hidden" id="team" value="<%= team %>">
        <div class="form-group">
          <label class="email"><%= texts["email"] %></label>
          <input type="email" class="form-control" required placeholder="example@example.com" id="email">
          <span class="help-block">
            <span class="default"><%= texts["helper"] %></span>
            <span class="progress"><%= texts["progress"] %></span>
            <span class="succeeded"><%= texts["succeeded"] %></span>
            <span class="failed"><%= texts["failed"] %> <span class="opt"></span></span>
          </span>
        </div>

        <div class="form-group">
          <input type="submit" value="<%= texts["submit"] %>" class="btn btn-default pull-right">
        </div>
      </form>
    </div>
  </div>
  </div>

  <div class="footer col-xs-12">
    <p class="text-center">Powered by <a href="https://github.com/crystal-jp">Crystal-JP</a>.</p>
  </div>
</div>

<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/pine613/crystal-jp-slack-invite">Fork me on GitHub</a>
  </div>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/invite.js"></script>

</body>
</html>

<!-- vim: se et ts=2 sw=2 sts=2 ft=html : -->
