<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<title>Crystal-JP Slack Invite</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="/assets/invite.css">
</head>

<body>

<div class="container">
  <div clas="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Crystal-JP Slack</h1>
      <p>日本語による Slack 上の Crystal 情報チャンネル</p>
    </div>

    <div class="form-wrapper col-lg-6 col-lg-offset-3">
      <form action="#" role="form">
        <div class="form-group">
          <label class="email">メールアドレス</label>
          <input type="email" class="form-control" required placeholder="example@example.com" id="email">
          <span class="help-block">
            <span class="default">招待メールを送るメールアドレスを入力してください。</span>
            <span class="message"></span>
          </span>
        </div>

        <div class="form-group">
          <input type="submit" value="送信" class="btn btn-default pull-right">
        </div>
      </form>
    </div>
  </div>
  </div>

  <div class="footer col-xs-12">
    <p class="text-center">Powered by <a href="http://crystal.connpass.com/">Crystal-JP</a>.</p>
  </div>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/assets/invite.js"></script>

</body>
</html>

<!-- vim: se et ts=2 sw=2 sts=2 ft=html : -->
